@model RecipeBox.Models.Tag

<h2>Add a Recipe</h2>

<h3>Add a recipe to this tag: @Html.DisplayFor(model => model.TagName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TagId)

  @Html.Label("Select Recipe")
  @Html.DropDownList("RecipeId")

  <input type="submit" value = "Save" />
}

<p>@Html.ActionLink("Back to Tag List", "Index")</p>