@model RecipeBox.Models.Tag

<h2>Add a New Tag</h2>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.TagName)
  @Html.TextBoxFor(model => model.TagName)

  @Html.Label("Select a Recipe")
  @Html.DropDownList("RecipeId", "recipes")

  <input type="submit" value="Add this Tag" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to Tag List", "Index")</p>